.obsidian-banner, .banner-image {
    width: 1400px;
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 5%, black 95%, transparent 100%);
    border: 1px groove;
    border-color: #999999;
}

.is-popout-window .cm5-banner {
    visibility: hidden;
}

/* Discarded Bits
min-width: 45%;
max-width: 65%;

max-width: var(--file-line-width);

-webkit-mask-image: radial-gradient(ellipse at center, red 10%, transparent 100%);
*/

/* .obsidian-banner-wrapper {
    margin-top: 0;
} */