img {
    clear: both;
    display: block;
}

img[alt*=left] {
    margin: 2%;
    margin-left: 0;
    float: left;
    clear: both;
}

img[alt*=right] {
    margin: 2%;
    margin-left: 0;
    float: right;
    clear: both;
}

img[alt*=center] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*=banner] {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 0px;
    clear: both;
}